.benefits {
  padding-top: 60px;
  padding-bottom: 80px;
}

.benefits__item {
  padding-top: 40px;
  grid-column: 3 span;
  background-position: left top;
  background-size: 24px 24px;
  background-repeat: no-repeat;

  &[data-icon="next"] {
    background-image: url("../../icon/benefits-1.svg");
  }

  &[data-icon="made"] {
    background-image: url("../../icon/benefits-2.svg");
  }

  &[data-icon="prices"] {
    background-image: url("../../icon/benefits-3.svg");
  }

  &[data-icon="recycled"] {
    background-image: url("../../icon/benefits-4.svg");
  }
}

.benefits__subtitle {
  margin: 0;
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 400;
  color: var(--dark-primary);

  margin-bottom: 8px;
}

.benefits__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-primary);
}
