.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  transform: var(--text-trs);
  border: none;
  text-decoration: none;
}

.btn--theme-dark {
  color: var(--white);
  background-color: rgba(249, 249, 249, 0.15);
}

.btn--theme-darker {
  color: var(--white);
  background-color: var(--dark-primary);
}

.btn--theme-light {
  color: var(--dark-primary);
  background-color: var(--light-grey);
}
