.form {
  display: flex;
  align-items: center;
}

.form__input {
  padding-left: 32px;
  padding-right: 20px;
  width: 354px;
  height: 56px;
  background-color: var(--light-grey);
  border: none;
}

.form__input::placeholder {
  color: rgba(42, 37, 75, 0.2);
}
